/* Crousel Achievements CSS Starts */

.thumbs-up-topper {
    display: block;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 10px;
    height: 180px;
    width: 15vw;
    position: relative;
    padding: 20px 20px 20px 20px;
  }
  
  .image-container {
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    float: left;
    /* margin-right: 10px; */
    border-radius: 50%;
  }
  
  
  .description {
    color: gray;
  }
  
  .days-left {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: gray;
  }

  .sparks{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: blue;
  }
  
  .title2{
    padding-left: 2vw;
  }

  .description2{
    color: gray;
    padding-left: 2vw;
  }

  .thumbs-up-topper2{
    display: block;
    position: relative;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 16px 16px 16px 16px;
    height: 20vh;
    width:25vw;
  }


  /* Crousel Achievements CSS Ends */