@tailwind base;
@tailwind components;
@tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Mukta&family=Nova+Square&family=Poppins:wght@400;600&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Card css */
:root{
  --cardWidth:300px;
  --cardHeight:500px;
}
.Card{
  margin: 10px;
  width: var(--cardWidth);
  height: var(--cardHeight);
  box-shadow: 0 0 1.5px rgb(175, 174, 174);
  padding: 12px;
}

/* card image css  */
.Card .cardImage{
  width: 100%;
  height: var(--cardWidth);
  /* border: 2px solid green; */
}

.cardImage>img{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1.5px rgb(175, 174, 174);
}

/* card content css  */
.Card span{
  width: 100%;
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
}
.Card>span{
  width: 95%;

}